
<div class="row">
    <h1>educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

<ul>

    <li><h1>estudio1</h1> - <h3>(años)</h3> </li>
          <p>lorem ipsum dolor sit amet, conlore lorem ipsum dolor,medmemdeomd</p>
                               </ul>
 <ul>
    <li><h1>estudio2</h1> - <h3>años</h3> </li>
          <p>lorem ipsum dolor sit amet, conlore lorem ipsum dolor,mmdmmdmmedmemdeomd</p>
                                </ul>

 <ul><li><h1>estudio3</h1> - <h3>años</h3> </li>
          <p>lorem ipsum dolor sit amet, conlore lorem ipsum dolor,mmdmedmemdeomd</p>
                                </ul>
</div>  

</div>