
<div class="row">
    <h1>proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>encriptador</h1>
            <p>Párrafos. Un párrafo es un fragmento escrito que se caracteriza y diferencia de otros párrafos por tener un punto y aparte. Es decir, un párrafo puede estar constituido por una o más oraciones, pero lo que lo diferencia de otro párrafo es el punto aparte. Veamos estos tres párrafos:</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset -lg-1 parte2"> 
            <img src="../../../assets/encriptado.jfif"class="img-fluid img-proyecto">
        </div>
    </div>
</div>