<div class="row">
    <div class ="container">
        <div class="logo">
            <img src="../../../assets/logoAP.png" id="logoAP">

    </div>
       <div class="redes">
            <a href="https://www.facebook.com/gimena.canadell"><img src="../../../assets/facebook.png"id ="linkedin"></a>
            <a href="https://github.com/GimenaCanadell"><img src="../../../assets/github.png"id ="github"></a>
            <a href="https://www.instagram.com/gimecanadell/?hl=es"><img src="../../../assets/instagram.png"id ="instagram"></a>
            <a href="https://www.linkedin.com/feed/?trk=sign-pg"><img src="../../../assets/linkedin.png"id ="linkedin"></a>
            <button type="button"class="btn btn-outline-light"(click)="login()">inicio</button>
        </div>
       </div>
    </div>
